*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.text-box{
	border: 2px solid;
	background-color: #ccc;
	padding: 1rem;
	text-align: justify;
}

.navbar-brand{
	font-size: 2rem;
	font-weight: 600 ;
}

.title{
	padding: 3rem 0 ;
}
.bg-ccc{
	background-color: #ccc;
}

.border-2px{
		border: 2px solid;
	}

.section-title{
	padding: 1rem 0;
}

@media (max-width: 768px) { 
	main{
		max-width:80%;	
	}

	.navbar-collapse{
		border-top: 2px solid;
	}

	
	.navbar-nav > li:nth-child(2),.navbar-nav > li:nth-child(1) {
	  	border-bottom: 1px solid;
	}
}
