*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
		width:  90%;
		height: 100vh;
		margin: auto;
}

.container>.title{
		padding: 4rem 0;
		text-align: center;
}

.container>.menu{
	width: 100%;
}
.container>.menu>.item{
	width: 32%;
	float: left;
	border: 2px solid #000;
	--padding: 1rem;
	background-color: #fef8dc;
}
.container>.menu>.item>.title-wrap{
	width: 100%;
	height: 30px;


}
.container>.menu>.item>.title-wrap>.title{
	text-align: center;
	float: right;
	width: 120px;
	height: 100%;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	background-color: white;
}

.menu-content .menu .item:nth-child(1) .title-wrap .title {
	background-color: #d59898;
}

.menu-content .menu  .item:nth-child(2) .title-wrap .title {
	background-color: #c14543;
	color: white;
}

.menu-content .menu  .item:nth-child(3)  .title-wrap .title {
	background-color: #e5d198;
}

.container>.menu>.item>.text{
		padding: 1rem;
		text-align: justify;

	}

.container>.menu>.item>.text{
	padding: 1rem;
}

@media (min-width: 992px){
	.container >.menu>.item{
		
	}
	.container>.menu>.item:nth-child(2){
		
		margin: 0 2%;;
	}
	.container>.menu>.item:nth-child(3){
		float: right;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.container >.menu>.item{
		width: 48%;
	}
	.container>.menu>.item:nth-child(2){
		float: right;
		margin: 0 0 0 1rem;
	}
	.container>.menu>.item:nth-child(3){
		min-width: 100%;
		margin: 1rem 0 0 0;
	}
}

@media screen and (max-width: 767px){
	
	.container >.menu>.item{
		width: 100%;
	}
	.container>.menu>.item:nth-child(2){
		margin:  1rem 0;
	}
}
